#dates a:hover,
#dates a.selected {
    color: #ffcc00;
    margin: 0;
    padding: 0;
}

#timeline {
    width: 800px;
    height: 60px;
    overflow: hidden;
    margin: 2px auto;
    position: relative;
    background: url('images/dot.gif') left 45px repeat-x;

    font-family: Georgia, serif;
    color: #fff;
    font-size: 14px;
}


#dates {
    width: 800px;
    height: 60px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#dates li {
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('images/biggerdot.png') center bottom no-repeat;
	margin: 0;
    padding: 0;
}

#dates a {
	margin: 0;
    padding: 0;
    line-height: 38px;
    padding-bottom: 10px;
    color: #ffff87;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#dates .selected {
    font-size: 38px;
}

.selectBox{
    display: inline-block;
    margin:10px;
}


/*line-chart*/
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.form-group,.form-control{
    width:100%;
}

option{
    font-size: 20px;
}